#
# .gitignore file for PSoC Creator 3.0
#

# Log files
*.log
*.rpt

# Temp directry
*.cydsn/codegentemp/*
*.cydsn/Export/PSoCCreatorExportIDE.xml
*.cycdx
*.cyfit
*.svd
*.cyprj.*
*.cywrk.*

# Results
*.cydsn/Generated_Source/*
*.cydsn/CortexM3/*
*.cydsn/CortexM0p/*
*.cydsn/CortexM0/*
*.cydsn/DP8051/*
*_timing.html
*_datasheet.pdf

# Archives
Backup/*
Archive/*
